altgraph==0.17
certifi==2020.12.5
chardet==4.0.0
cx-Freeze==6.5.3
decorator==4.4.2
fbs==0.9.4
future==0.18.2
idna==2.10
imageio==2.4.1
imageio-ffmpeg==0.4.3
importlib-metadata==3.7.3
macholib==1.14
moviepy==0.2.3.5
numpy==1.19.5
pefile==2019.4.18
Pillow==8.1.2
proglog==0.1.9
pypiwin32==223
PyQt5==5.9.2
PyQt5-Qt5==5.15.2
PyQt5-sip==12.8.1
pywin32==300
pywin32-ctypes==0.2.0
requests==2.25.1
sip==4.19.8
tqdm==4.59.0
typing-extensions==3.7.4.3
urllib3==1.26.4
wincertstore==0.2
zipp==3.4.1
